h1 {
    color: blue;
}

.lie {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sec1 {
    width: auto;
    background-color: azure;
}

h1 {
    color: blue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.lie {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}