<<<<<<< HEAD
h1 {
    color: blue;
}

.lie {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sec1 {
    width: auto;
    background-color: azure;
=======
h1 {
    color: blue;
}

.lie {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
>>>>>>> c40c68063ecd55e1c9bf7b05552b26850a63912d
}